@font-face {
  font-family: 'poke-font';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/poke-font.ttf') format('truetype');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;

  width: 100%;
  height: 100vh;
  background: url('../assets/pokemon-bg.png');
  background-position: center center;
  background-size: cover;

  color: white;
  font-family: 'poke-font';
}
html {
  height: 100%;

  cursor: url('../assets/pokeCursor.png'), auto;
}
#root {
  font-size: 3rem;
  height: 100%;
}